<div class="container mx-auto px-3 py-5 space-y-4 md:px-16">
  <div class="space-y-8">
    <h2 class="text-4xl text-center data-scroll nunito font-bold">About Us</h2>
    <article class="space-y-8">
      <p class="text-justify">
        Welcome to Surbhi Metal and Alloys - A perfect solution for all your metal
        requirements. Surbhi Metal and Alloys having it's registered office in
        Mumbai. Surbhi Metal and Alloys is a team of experienced industry experts
        who deal in manufacturing, supplying and trading of ferrous and non
        ferrous metals.
        <br />
        <br />
        We manufacture and supply a variety of ferrous and non ferrous metals such
        as iron, stainless steel, aluminium, copper, brass, etc.
        <br />
        <br />
        We manufacture and trade various products such as pipes, sheets, bars,
        flanges, fasteners, valves, fitting items and many other products
        applicable in various core sectors.
      </p>
    </article>
  </div>
  <p class="text-center">
    <a class="text-purple-600 hover:text-p3 transform hover:scale-110 transition-all duration-300" href="about-us.html">Read more...</a>
  </p>
</div>

<div class="container mx-auto px-3 py-5 space-y-4 md:px-16">
  <div class="space-y-8">
    <h2 class="text-4xl text-center data-scroll nunito font-bold">Products We Offer</h2>
    <div class="grid grid-cols-1 gap-y-6 sm:grid-cols-2 sm:space-y-0 md:grid-cols-2 lg:grid-cols-3">
      <% site.data.sitedata.products.forEach((element,index) => { %>
      <% if (index>5) { return }%>
      <a href="products/<%-element[2] %>">
        <div class="mx-3 h-72 border-black border hover:border-transparent transform transition-all duration-300 rounded-xl overflow-hidden hover:scale-105">
          <img class="object-center w-full h-full" src="img/<%-element[1] %>">
          <p class="absolute bottom-0 w-full bg-p4 text-p1 text-center"><%- element[0] %></p>
        </div>
      </a>
      <% }) %>
    </div>
  </div>
  <p class="text-center">
    <a class="text-purple-600 hover:text-black transition-all duration-300" href="products.html">See more...</a>
  </p>
</div>

<div class="container mx-auto px-3 py-5 space-y-4 md:px-16">
  <div class="space-y-8">
    <h2 class="text-4xl text-center data-scroll nunito font-bold">Our Quality Policy</h2>
    <article class="space-y-8 overflow-hidden">
      <p>
        Our Quality Assurance Cell dedicatedly work towards the quality factor
        which is our primary concern. Our aim is to provide best quality material
        as per the international standards and we continuously work towards it.
        <br />
        <br />
        We have a team of experts who manages the material testing process and
        ensure to deliver material as per the international standards.
        <br />
        <br />
        We provide lab tested reports and various quality certificates alongwith
        the material and also comply with the third party inspection process.
        <br />
        <br />
        We strictly follow quality standards while sourcing material from other
        dealers and thus ensure to provide best quality material.Our effective
        packaging policy plays an important role in keeping material safe and in a
        good condition. Quality have always been our key focus and we regularly
        work towards the same
      </p>
      <div class="grid w-full scroll-child grid-cols-5">
        <div class="rounded-full mx-auto p-px bg-black md:w-24 w-14">
          <img class="rounded-full bg-p1" src="img/quality/iso.jpg" alt="Repute Steel">
        </div>
        <div class="rounded-full mx-auto p-px bg-black md:w-24 w-14">
          <img class="rounded-full bg-p1" src="img/quality/iaf.jpg" alt="Repute Steel">
        </div>
        <div class="rounded-full mx-auto p-px bg-black md:w-24 w-14">
          <img class="rounded-full bg-p1" src="img/quality/make-in-india.jpg" alt="Repute Steel">
        </div>
        <div class="rounded-full mx-auto p-px bg-black md:w-24 w-14">
          <div>
            <img class="rounded-full bg-p1" src="img/quality/msme.jpg" alt="Repute Steel">
          </div>
        </div>
        <div class="rounded-full mx-auto p-px bg-black md:w-24 w-14">
          <img class="rounded-full bg-p1" src="img/quality/jas-anz.jpg" alt="Repute Steel">
        </div>
      </div>

    </article>
  </div>
</div>

<div class="my-5">
  <div class="grid grid-cols-1 gap-y-2 gap-x-2 sm:grid-cols-2 lg:grid-cols-3">
    <img class="object-center object-cover w-full h-72 img-scroll" src="img/bar.jpg">
    <img class="object-center object-cover w-full h-72 img-scroll" src="img/sheets.jpg">
    <img class="object-center object-cover w-full h-72 img-scroll" src="img/pipe.jpg">
    <img class="object-center object-cover w-full h-72 img-scroll" src="img/flange.jpg">
    <img class="object-center object-cover w-full h-72 img-scroll" src="img/forged-fitting.jpg">
    <img class="object-center object-cover w-full h-72 img-scroll" src="img/channel.jpg">
    <img class="object-center object-cover w-full h-72 img-scroll" src="img/buttweld-fitting.jpg">
    <img class="object-center object-cover w-full h-72 img-scroll" src="img/fastener.jpg">
  </div>
</div>