<div class="px-3 py-5 space-y-8 md:px-16">
  <h1 class="text-4xl text-center nunito font-bold">Products We Offer</h1>
  <div class="space-y-4">
    <article class="space-y-2">
      <p class="mx-3 text-xl font-bold">
        Manufacturers of Sheets, Plates, Round Bars, Boiler Quality Plates in Mumbai, India
      </p>
      <p class="mx-3 text-p4">
        Surbhi Metal and Alloys are known for their high-quality range of Stainless Steel, Duplex Steel, Super Duplex Steel, Alloy Steel, Carbon Steel, Aluminium, Copper and Brass Products. Surbhi Metal and Alloys keep a range of varied products such as pipes, tubes, sheets, coils, rods, bars, butweld fittings, forged fittings and so on. With an industry experience of around 25 years, we have always been a leading player when it comes to quality products Our team of experts dedicatedly work towards the quality improvement process and ensure best products are delivered to the market. We provide lab tested reports and quality certificates alongwith the products for quality assurance. Our products are of international standards and we never compromise with the quality factor. We even comply with third party inspection by government approved agencies for quality assurance. Our aim is to build trust among our stakeholders for a long-term healthy relationship and we continuously work towards it.
      </p>
    </article>
    <div class="grid grid-cols-1 gap-y-6 sm:grid-cols-2 sm:space-y-0 md:grid-cols-2 lg:grid-cols-3">
      <% site.data.sitedata.products.forEach(element => { %>
      <a href="products/<%- element[2] %>">
        <div class="mx-3 h-72 border-black border hover:border-transparent transform transition-all duration-300 rounded-xl overflow-hidden hover:scale-105">
          <img class="object-center w-full h-full" src="img/<%- element[1] %>">
          <p class="absolute bottom-0 w-full bg-p4 text-p1 text-center"><%- element[0] %></p>
        </div>
      </a>
      <% }) %>
    </div>
  </div>
</div>