<div class="px-3 py-5 space-y-8 md:px-16">
  <h1 class="text-4xl text-center nunito font-bold">Products We Offer</h1>
  <div class="space-y-4">
    <article class="space-y-2">
      <p class="mx-3 text-xl font-bold">
        Manufacturers of Sheets, Plates, Round Bars, Boiler Quality Plates in Mumbai, India
      </p>
      <p class="mx-3 text-p4">
        Surbhi Metal and Alloys are known for their high-quality range of Stainless Steel, Duplex Steel, Super Duplex Steel,
        Alloy Steel, Monel, Alloy 20 products. Surbhi Metal and Alloys are leading manufacturers, suppliers, dealers and
        exporters in India. Surbhi Metal and Alloys is based in Mumbai and has been operating throughout the world. Surbhi Metal
        and Alloys has created their name as manufacturers, suppliers, dealers, and exporters of Sheets, Plates, Round Bars, Rods,
        Boiler Quality Plates and other stainless steel, duplex steel, super duplex steel, alloy steel, monel and alloy 20 products in Mumbai, India.
      </p>
    </article>
    <div class="space-y-10 sm:grid sm:grid-cols-2 sm:gap-y-6 sm:space-y-0 md:grid-cols-2 lg:grid-cols-3">
      <% site.data.sitedata.products.forEach(element => { %>
      <a href="">
        <div class="mx-3 h-72 border-black border hover:border-transparent transform transition-all duration-300 rounded-xl overflow-hidden hover:scale-105">
          <img class="object-center w-full h-full" src="img/pipe.png">
          <p class="absolute bottom-0 w-full bg-p4 text-p1 text-center"><%- element %></p>
        </div>
      </a>
      <% }) %>
    </div>
  </div>
</div>