<div class="container mx-auto px-3 py-5 space-y-4">
  <div class="space-y-8">
    <h2 class="text-4xl text-center font-bold">Gallery</h2>
    <div class="grid grid-cols-1 gap-y-2 gap-x-2 sm:grid-cols-2 lg:grid-cols-3">
      <% site.data.sitedata.images.forEach(element => { %>
      <img class="object-center object-cover w-full h-72 img-scroll" src="img/<%- element %>">
      <% }) %>
    </div>
  </div>
</div>