@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Asap&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Numans&display=swap");

/* scroll bar */
body::-webkit-scrollbar-track {
  border-radius: 1px;
  background-color:  rgba(239, 247, 255);
}

body::-webkit-scrollbar {
  width: 4px;
  background-color: rgba(239, 247, 255);
}

body::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color:rgba(33, 65, 81);
}

/* main css */
.nunito {
  font-family: "Nunito", sans-serif !important;
}

.asap {
  font-family: "Asap", sans-serif !important;
}

.numans {
  font-family: "Numans", sans-serif !important;
}

* {
  font-family: "Numans", sans-serif;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

a {
  font-family: "Asap", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Nunito", sans-serif;
}

.navbar {
  z-index: 1;
}

.-z-1 {
  z-index: -1;
}

.herocard{
    bottom: 10%;
}