<footer class="bg-p2 py-2 px-4 mt-5 md:px-16 md:py-2 space-y-10">
  <div class="container md:px-20 mx-auto w-full flex flex-col space-y-10 md:space-y-4 items-start pt-5 md:flex-row">
    <div class="flex-1 w-full flex">
      <img class="h-14 mx-auto md:mx-0" src="<%= page.prepath %>img/surbhi.png" alt="" />
    </div>
    <div class="flex-1 flex">
      <div class="">
        <p>Products</p>
      </div>
    </div>
    <div class="flex-1 flex">
      <div class="mx-auto">
        <p>Quick links</p>
      </div>
    </div>
    <div class="flex-1 flex">
      <div class="mx-auto">
        Contact
      </div>
    </div>
    <div class="flex-1 flex">
      <div class="ml-auto">
        <div class="flex-1 flex justify-end space-x-3 items-center">
          <p class="nunito text-black inline-block font-bold">Follow us</p>
          <i class="fab fa-facebook-f"></i>
          <i class="fab fa-twitter"></i>
          <i class="fab fa-instagram"></i>
          <i class="fab fa-linkedin-in"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="container mx-auto w-full flex flex-col space-y-5 items-center md:space-y-0">
    <p class="nunito flex-1 text-black text-sm font-bold text-center md:text-left md:text-base">
      Copyright © Surbhi Metals And Alloys 2021.
      <br class="md:hidden" />
      All right reserved.

    </p>
    <p class=" nunito flex-1 text-black text-sm font-bold text-center md:text-left md:text-base">Crafted By Saryu marketing solutions.</p>
  </div>
</footer>