<div class="overflow-hidden imgcontainer h-screen">
  <div class="flex h-full">
    <img class="object-cover flex-shrink-0 w-full object-center" src="/img/hero1.jpg" alt="">
    <img class="object-cover flex-shrink-0 w-full object-center" src="/img/hero2.jpg" alt="">
    <img class="object-cover flex-shrink-0 w-full object-center" src="/img/hero3.jpg" alt="">
  </div>
</div>