 <!-- Slider main container -->
 <div class="swiper-container">
   <div class="swiper-wrapper">
     <div class="swiper-slide space-y-3 flex flex-col items-center justify-center w-full h-full">
       <img class="object-cover h-full absolute invisible flex-shrink-0 object-center slideimg" src="<%= page.prepath %>img/hero1.jpg" alt="" />
       <div class="absolute bg-white p-2 rounded">
         <p class="invisible text-xl">Slide 1</p>
         <p class="invisible text-xl">sub text 1</p>
       </div>
       <p class="text-xl" data-swiper-parallax="-400">Slide 1</p>
       <p class="text-xl" data-swiper-parallax="-800">sub text 1</p>
     </div>
     <div class="swiper-slide space-y-3 flex flex-col items-center justify-center w-full h-full">
       <img class="object-cover h-full absolute invisible flex-shrink-0 object-right md:object-center slideimg" src="<%= page.prepath %>img/hero2.jpg" alt="" />
       <div class="absolute bg-white p-2 rounded">
         <p class="invisible text-xl">Slide 1</p>
         <p class="invisible text-xl">sub text 1</p>
       </div>
       <p class="text-xl" data-swiper-parallax="-400">Slide 1</p>
       <p class="text-xl" data-swiper-parallax="-800">sub text 1</p>
     </div>
     <div class="swiper-slide space-y-3 flex flex-col items-center justify-center w-full h-full">
       <img class="object-cover h-full absolute invisible flex-shrink-0 object-center slideimg" src="<%= page.prepath %>img/hero3.jpg" alt="" />
       <div class="absolute bg-white p-2 rounded">
         <p class="invisible text-xl">Slide 1</p>
         <p class="invisible text-xl">sub text 1</p>
       </div>
       <p class="text-xl" data-swiper-parallax="-400">Slide 1</p>
       <p class="text-xl" data-swiper-parallax="-800">sub text 1</p>
     </div>
   </div>
   <div class="swiper-button-prev text-red-500"></div>
   <div class="swiper-button-next text-xs"></div>
 </div>