---
{
"title": "Channel | Surbhi Metals and Alloy",
"description": "Helo",
"prepath": "../",
"product":"Channel",
"layout":"template/product"
}
---

<div class="px-3 py-5 space-y-4 md:px-16">
  <h1 class="text-4xl text-center nunito font-bold">Channel</h1>
</div>