---
{
"title": "Fasteners | Surbhi Metals and Alloy",
"description": "Helo",
"prepath": "../",
"product":"Fasteners",
"layout":"template/product"
}
---

<div class="px-3 py-5 space-y-4 md:px-16">
  <h1 class="text-4xl text-center nunito font-bold">Fasteners</h1>
  <article class="space-y-10">
    <h2>Fasteners we can offer</h2>
    <div class="grid md:grid-cols-3 grid-cols-1 gap-3">
      <div class="shadow-lg rounded-xl overflow-hidden"><img src="img/fasteners-1.jpg" alt="" width="400" height="300">
        <p class="text-center">Lateral Tee</p>
      </div>
      <div class="shadow-lg rounded-xl overflow-hidden"><img src="img/fasteners-2.jpg" alt="" width="400" height="300">
        <p class="text-center">Socket Weld Coupling</p>
      </div>
      <div class="shadow-lg rounded-xl overflow-hidden"><img src="img/fasteners-3.jpg" alt="" width="400" height="300">
        <p class="text-center">Socket Weld Caps</p>
      </div>
      <div class="shadow-lg rounded-xl overflow-hidden"><img src="img/fasteners-4.jpg" alt="" width="400" height="300">
        <p class="text-center">Socket Weld Cross</p>
      </div>
      <div class="shadow-lg rounded-xl overflow-hidden"><img src="img/fasteners-5.jpg" alt="" width="400" height="300">
        <p class="text-center">Socket Weld Tee</p>
      </div>
      <div class="shadow-lg rounded-xl overflow-hidden"><img src="img/fasteners-6.jpg" alt="" width="400" height="300">
        <p class="text-center">Socket Weld 90 Degree Elbow</p>
      </div>
      <div class="shadow-lg rounded-xl overflow-hidden"><img src="img/fasteners-7.jpg" alt="" width="400" height="300">
        <p class="text-center">Socket Weld Union</p>
      </div>
      <div class="shadow-lg rounded-xl overflow-hidden"><img src="img/fasteners-8.jpg" alt="" width="400" height="300">
        <p class="text-center">Full Coupling</p>
      </div>
    </div>
  </article>
</div>