---
{
"title": "Flanges | Surbhi Metals and Alloy",
"description": "Flanges | Surbhi Metals and Alloy",
"prepath": "../",
"page":"Flanges",
"layout":"template/product"
}
---

<div class="px-3 py-5 space-y-4 md:px-16">
  <h1 class="text-4xl text-center nunito font-bold">Flanges</h1>
  <article class="space-y-10">
    <div class="space-y-5">
      <p>Flanges we offer</p>
      <div class="grid md:grid-cols-3 grid-cols-2 gap-3">
        <% let flanges = [
        ["flanges1.jpg","Threaded Flange"],
        ["flanges2.jpg","Weld Neck Flange"],
        ["flanges3.jpg","Slip On Flange"],
        ["flanges4.jpg","Socket Weld Flange"],
        ["flanges5.jpg","Lap Joint Flange"],
        ["flanges6.jpg","Plate Flange"],
      ] %>
        <% flanges.forEach(element => { %>
        <div class="shadow-lg rounded-xl border overflow-hidden"><img src="../img/flanges/<%- element[0] %>" alt="" width="400" height="300">
          <p class="text-center"><%- element[1] %></p>
        </div>
        <% }) %>
      </div>
    </div>
    <div class="space-y-3">
      <h2 class="text-xl text-p4">Threaded Flange, Threaded Forged Flanges, Screwed Flanges Production Range</h2>
      <table class="w-full border rounded">
        <tbody class="border">
          <tr class="bg-p3 border">
            <td class="font-bold border border-gray-300">
              Size
            </td>
            <td class="border border-gray-300">
              1/2″ (15 NB) to 48″ (1200NB)
            </td>
          </tr>
          <tr>
            <td class="font-bold border border-gray-300">
              Standards
            </td>
            <td class="border border-gray-300">
              ANSI B16.5, ANSI B16.47 Series A &amp; B, MSS SP44, ASA, API-605, AWWA, Custom Drawings
            </td>
          </tr>
          <tr>
            <td class="font-bold border border-gray-300">
              Pressure Ratings
            </td>
            <td class="border border-gray-300">
              Class 150, Class 300, Class 400, Class 600, Class 900, Class1500, Class 2500 | PN6, PN10, PN16,
              PN25, PN40, PN64 etc.
            </td>
          </tr>
          <tr>
            <td class="font-bold border border-gray-300">
              Carbon Steel Threaded Flanges
            </td>
            <td class="border border-gray-300">
              ASTM A105/A105N, A350 LF1, LF2 CL1/CL2, LF3 CL1/CL2, A694 F42, F46, F48, F50, F52, F56, F60, F65,
              F70, A516.60,
              65, 70 (Spectacle Blind Flange, Spacer Ring/Spade Flange), Steel RST37.2, C22.8
            </td>
          </tr>
          <tr>
            <td class="font-bold border border-gray-300">
              Stainless Steel Threaded Flanges
            </td>
            <td class="border border-gray-300">
              ASTM A182 F202, F304/304L/304H, F316/316L, F316H, F316TI, F310, F321, F904L
            </td>
          </tr>
          <tr>
            <td class="font-bold border border-gray-300">
              Alloy Steel Threaded Flanges
            </td>
            <td class="border border-gray-300">
              ASTM A182 F1, F5, F9, F11, F22, F91
            </td>
          </tr>
          <tr>
            <td class="font-bold border border-gray-300">
              Special Alloy Threaded Flanges
            </td>
            <td class="border border-gray-300">
              Duplex, Super Duplex, Nickel Alloys
            </td>
          </tr>
          <tr>
            <td class="font-bold border border-gray-300">
              Flange Face Type
            </td>
            <td class="border border-gray-300">
              Flate Face (FF), Raised Face (RF), Ring Type Joint (RTJ)
            </td>
          </tr>
          <tr>
            <td class="font-bold border border-gray-300">
              Coating/Surface Treatment
            </td>
            <td class="border border-gray-300">
              Anti-rust Paint, Oil Black Paint, Yellow Transparent, Zinc Plated, Cold and Hot Dip Galvanized
            </td>
          </tr>
          <tr>
            <td class="font-bold border border-gray-300">
              Value Added Services
            </td>
            <td class="border border-gray-300">
              CNC Machining, Customised Flanges
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="space-y-3">
      <h2 class="text-xl text-p4">Welding Neck Flange, WN Forged Flanges, Weld Neck Flanges Production Range</h2>
      <table class="w-full border rounded">
        <tbody>
          <tr class="bg-p3">
            <td class="font-bold border border-gray-300">
              Size
            </td>
            <td class="border border-gray-300">
              1/2″ (15 NB) to 48″ (1200NB)
            </td>
          </tr>
          <tr>
            <td class="font-bold border border-gray-300">
              Standards
            </td>
            <td class="border border-gray-300">
              ANSI B16.5, ANSI B16.47 Series A &amp; B, MSS SP44, ASA, API-605, AWWA, Custom Drawings
            </td>
          </tr>
          <tr>
            <td class="font-bold border border-gray-300">
              Pressure Ratings
            </td>
            <td class="border border-gray-300">
              Class 150, Class 300, Class 400, Class 600, Class 900, Class1500, Class 2500 | PN6, PN10, PN16,
              PN25, PN40, PN64 etc.
            </td>
          </tr>
          <tr>
            <td class="font-bold border border-gray-300">
              Carbon Steel Weld Neck Flanges
            </td>
            <td class="border border-gray-300">
              ASTM A105/A105N, A350 LF1, LF2 CL1/CL2, LF3 CL1/CL2, A694 F42, F46, F48, F50, F52, F56, F60, F65,
              F70, A516.60,
              65, 70 (Spectacle Blind Flange, Spacer Ring/Spade Flange), Steel RST37.2, C22.8
            </td>
          </tr>
          <tr>
            <td class="font-bold border border-gray-300">
              Stainless Steel Weld Neck Flanges
            </td>
            <td class="border border-gray-300">
              ASTM A182 F202, F304/304L/304H, F316/316L, F316H, F316TI, F310, F321, F904L
            </td>
          </tr>
          <tr>
            <td class="font-bold border border-gray-300">
              Alloy Steel Weld Neck Flanges
            </td>
            <td class="border border-gray-300">
              ASTM A182 F1, F5, F9, F11, F22, F91
            </td>
          </tr>
          <tr>
            <td class="font-bold border border-gray-300">
              Special Alloy Weld Neck Flanges
            </td>
            <td class="border border-gray-300">
              Duplex, Super Duplex, Nickel Alloys
            </td>
          </tr>
          <tr>
            <td class="font-bold border border-gray-300">
              Flange Face Type
            </td>
            <td class="border border-gray-300">
              Flate Face (FF), Raised Face (RF), Ring Type Joint (RTJ)
            </td>
          </tr>
          <tr>
            <td class="font-bold border border-gray-300">
              Coating/Surface Treatment
            </td>
            <td class="border border-gray-300">
              Anti-rust Paint, Oil Black Paint, Yellow Transparent, Zinc Plated, Cold and Hot Dip Galvanized
            </td>
          </tr>
          <tr>
            <td class="font-bold border border-gray-300">
              Value Added Services
            </td>
            <td class="border border-gray-300">
              CNC Machining, Customised Flanges
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="space-y-3">
      <h2 class="text-xl text-p4">Slip-on Flange, SO Forged Flanges Production Range</h2>
      <table class="w-full border rounded">
        <tbody>
          <tr class="bg-p3">
            <td class="font-bold border border-gray-300">
              Size
            </td>
            <td class="border border-gray-300">
              1/2″ (15 NB) to 48″ (1200NB)
            </td>
          </tr>
          <tr>
            <td class="font-bold border border-gray-300">
              Standards
            </td>
            <td class="border border-gray-300">
              ANSI B16.5, ANSI B16.47 Series A &amp; B, MSS SP44, ASA, API-605, AWWA, Custom Drawings
            </td>
          </tr>
          <tr>
            <td class="font-bold border border-gray-300">
              Pressure Ratings
            </td>
            <td class="border border-gray-300">
              Class 150, Class 300, Class 400, Class 600, Class 900, Class1500, Class 2500 | PN6, PN10, PN16,
              PN25, PN40, PN64 etc.
            </td>
          </tr>
          <tr>
            <td class="font-bold border border-gray-300">
              Carbon Steel Slip-on Flanges
            </td>
            <td class="border border-gray-300">
              ASTM A105/A105N, A350 LF1, LF2 CL1/CL2, LF3 CL1/CL2, A694 F42, F46, F48, F50, F52, F56, F60, F65,
              F70, A516.60,
              65, 70 (Spectacle Blind Flange, Spacer Ring/Spade Flange), Steel RST37.2, C22.8
            </td>
          </tr>
          <tr>
            <td class="font-bold border border-gray-300">
              Stainless Steel Slip-on Flanges
            </td>
            <td class="border border-gray-300">
              ASTM A182 F202, F304/304L/304H, F316/316L, F316H, F316TI, F310, F321, F904L
            </td>
          </tr>
          <tr>
            <td class="font-bold border border-gray-300">
              Alloy Steel Slip-on Flanges
            </td>
            <td class="border border-gray-300">
              ASTM A182 F1, F5, F9, F11, F22, F91
            </td>
          </tr>
          <tr>
            <td class="font-bold border border-gray-300">
              Special Alloy Slip-on Flanges
            </td>
            <td class="border border-gray-300">
              Duplex, Super Duplex, Nickel Alloys
            </td>
          </tr>
          <tr>
            <td class="font-bold border border-gray-300">
              Flange Face Type
            </td>
            <td class="border border-gray-300">
              Flate Face (FF), Raised Face (RF), Ring Type Joint (RTJ)
            </td>
          </tr>
          <tr>
            <td class="font-bold border border-gray-300">
              Coating/Surface Treatment
            </td>
            <td class="border border-gray-300">
              Anti-rust Paint, Oil Black Paint, Yellow Transparent, Zinc Plated, Cold and Hot Dip Galvanized
            </td>
          </tr>
          <tr>
            <td class="font-bold border border-gray-300">
              Value Added Services
            </td>
            <td class="border border-gray-300">
              CNC Machining, Customised Flanges
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="space-y-3">
      <h2 class="text-xl text-p4">Socket Welding Flange, SW Forged Flanges, Socket Weld Flange Production Range</h2>
      <table class="w-full border rounded">
        <tbody>
          <tr class="bg-p3">
            <td class="font-bold border border-gray-300">
              Size
            </td>
            <td class="border border-gray-300">
              1/2″ (15 NB) to 48″ (1200NB)
            </td>
          </tr>
          <tr>
            <td class="font-bold border border-gray-300">
              Standards
            </td>
            <td class="border border-gray-300">
              ANSI B16.5, ANSI B16.47 Series A &amp; B, MSS SP44, ASA, API-605, AWWA, Custom Drawings
            </td>
          </tr>
          <tr>
            <td class="font-bold border border-gray-300">
              Pressure Ratings
            </td>
            <td class="border border-gray-300">
              Class 150, Class 300, Class 400, Class 600, Class 900, Class1500, Class 2500 | PN6, PN10, PN16,
              PN25, PN40, PN64 etc.
            </td>
          </tr>
          <tr>
            <td class="font-bold border border-gray-300">
              Carbon Steel Socket Welding Flanges
            </td>
            <td class="border border-gray-300">
              ASTM A105/A105N, A350 LF1, LF2 CL1/CL2, LF3 CL1/CL2, A694 F42, F46, F48, F50, F52, F56, F60, F65,
              F70, A516.60,
              65, 70 (Spectacle Blind Flange, Spacer Ring/Spade Flange), Steel RST37.2, C22.8
            </td>
          </tr>
          <tr>
            <td class="font-bold border border-gray-300">
              Stainless Steel Socket Welding Flanges
            </td>
            <td class="border border-gray-300">
              ASTM A182 F202, F304/304L/304H, F316/316L, F316H, F316TI, F310, F321, F904L
            </td>
          </tr>
          <tr>
            <td class="font-bold border border-gray-300">
              Alloy Steel Socket Welding Flanges
            </td>
            <td class="border border-gray-300">
              ASTM A182 F1, F5, F9, F11, F22, F91
            </td>
          </tr>
          <tr>
            <td class="font-bold border border-gray-300">
              Special Alloy Slip-on Flanges
            </td>
            <td class="border border-gray-300">
              Duplex, Super Duplex, Nickel Alloys
            </td>
          </tr>
          <tr>
            <td class="font-bold border border-gray-300">
              Flange Face Type
            </td>
            <td class="border border-gray-300">
              Flate Face (FF), Raised Face (RF), Ring Type Joint (RTJ)
            </td>
          </tr>
          <tr>
            <td class="font-bold border border-gray-300">
              Coating/Surface Treatment
            </td>
            <td class="border border-gray-300">
              Anti-rust Paint, Oil Black Paint, Yellow Transparent, Zinc Plated, Cold and Hot Dip Galvanized
            </td>
          </tr>
          <tr>
            <td class="font-bold border border-gray-300">
              Value Added Services
            </td>
            <td class="border border-gray-300">
              CNC Machining, Customised Flanges
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="space-y-3">
      <h2 class="text-xl text-p4">AP JOINT FLANGES, LJ FORGED FLANGES PRODUCTION RANGE</h2>
      <table class="w-full border rounded">
        <tbody>
          <tr class="bg-p3">
            <td class="font-bold border border-gray-300">
              Size
            </td>
            <td class="border border-gray-300">
              1/2″ (15 NB) to 48″ (1200NB)
            </td>
          </tr>
          <tr>
            <td class="font-bold border border-gray-300">
              Standards
            </td>
            <td class="border border-gray-300">
              ANSI B16.5, ANSI B16.47 Series A &amp; B, MSS SP44, ASA, API-605, AWWA, Custom Drawings
            </td>
          </tr>
          <tr>
            <td class="font-bold border border-gray-300">
              Pressure Ratings
            </td>
            <td class="border border-gray-300">
              Class 150, Class 300, Class 400, Class 600, Class 900, Class1500, Class 2500 | PN6, PN10, PN16,
              PN25, PN40, PN64 etc.
            </td>
          </tr>
          <tr>
            <td class="font-bold border border-gray-300">
              Carbon Steel Lap Joint Flanges
            </td>
            <td class="border border-gray-300">
              ASTM A105/A105N, A350 LF1, LF2 CL1/CL2, LF3 CL1/CL2, A694 F42, F46, F48, F50, F52, F56, F60, F65,
              F70, A516.60,
              65, 70 (Spectacle Blind Flange, Spacer Ring/Spade Flange), Steel RST37.2, C22.8
            </td>
          </tr>
          <tr>
            <td class="font-bold border border-gray-300">
              Stainless Steel Lap Joint Flanges
            </td>
            <td class="border border-gray-300">
              ASTM A182 F202, F304/304L/304H, F316/316L, F316H, F316TI, F310, F321, F904L
            </td>
          </tr>
          <tr>
            <td class="font-bold border border-gray-300">
              Alloy Steel Lap Joint Flanges
            </td>
            <td class="border border-gray-300">
              ASTM A182 F1, F5, F9, F11, F22, F91
            </td>
          </tr>
          <tr>
            <td class="font-bold border border-gray-300">
              Special Alloy Lap Joint Flanges
            </td>
            <td class="border border-gray-300">
              Duplex, Super Duplex, Nickel Alloys
            </td>
          </tr>
          <tr>
            <td class="font-bold border border-gray-300">
              Flange Face Type
            </td>
            <td class="border border-gray-300">
              Flate Face (FF), Raised Face (RF), Ring Type Joint (RTJ)
            </td>
          </tr>
          <tr>
            <td class="font-bold border border-gray-300">
              Coating/Surface Treatment
            </td>
            <td class="border border-gray-300">
              Anti-rust Paint, Oil Black Paint, Yellow Transparent, Zinc Plated, Cold and Hot Dip Galvanized
            </td>
          </tr>
          <tr>
            <td class="font-bold border border-gray-300">
              Value Added Services
            </td>
            <td class="border border-gray-300">
              CNC Machining, Customised Flanges
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="space-y-3">
      <h2 class="text-xl text-p4">PLATE FLANGE, SLIP-ON PLATE FLANGES PRODUCTION RANGE</h2>
      <table class="w-full border rounded">
        <tbody>
          <tr class="bg-p3">
            <td class="font-bold border border-gray-300">
              Size
            </td>
            <td class="border border-gray-300">
              1/2″ (15 NB) to 48″ (1200NB), Custom Sizes
            </td>
          </tr>
          <tr>
            <td class="font-bold border border-gray-300">
              Standards
            </td>
            <td class="border border-gray-300">
              ANSI B16.5, ANSI B16.47 Series A &amp; B, MSS SP44, ASA, API-605, AWWA, Custom Drawings
            </td>
          </tr>
          <tr>
            <td class="font-bold border border-gray-300">
              Pressure Ratings
            </td>
            <td class="border border-gray-300">
              Class 150, Class 300, Class 400, Class 600, Class 900, Class1500, Class 2500 | PN6, PN10, PN16,
              PN25, PN40, PN64 etc.
            </td>
          </tr>
          <tr>
            <td class="font-bold border border-gray-300">
              Carbon Steel Plate Flanges
            </td>
            <td class="border border-gray-300">
              ASTM A105/A105N, A350 LF1, LF2 CL1/CL2, LF3 CL1/CL2, A694 F42, F46, F48, F50, F52, F56, F60, F65,
              F70, A516.60,
              65, 70 (Spectacle Blind Flange, Spacer Ring/Spade Flange), Steel RST37.2, C22.8
            </td>
          </tr>
          <tr>
            <td class="font-bold border border-gray-300">
              Stainless Steel Plate Flanges
            </td>
            <td class="border border-gray-300">
              ASTM A182 F202, F304/304L/304H, F316/316L, F316H, F316TI, F310, F321, F904L
            </td>
          </tr>
          <tr>
            <td class="font-bold border border-gray-300">
              Alloy Steel Plate Flanges
            </td>
            <td class="border border-gray-300">
              ASTM A182 F1, F5, F9, F11, F22, F91
            </td>
          </tr>
          <tr>
            <td class="font-bold border border-gray-300">
              Special Alloy Plate Flanges
            </td>
            <td class="border border-gray-300">
              Duplex, Super Duplex, Nickel Alloys
            </td>
          </tr>
          <tr>
            <td class="font-bold border border-gray-300">
              Flange Face Type
            </td>
            <td class="border border-gray-300">
              Flate Face (FF), Raised Face (RF), Ring Type Joint (RTJ)
            </td>
          </tr>
          <tr>
            <td class="font-bold border border-gray-300">
              Coating/Surface Treatment
            </td>
            <td class="border border-gray-300">
              Anti-rust Paint, Oil Black Paint, Yellow Transparent, Zinc Plated, Cold and Hot Dip Galvanized
            </td>
          </tr>
          <tr>
            <td class="font-bold border border-gray-300">
              Value Added Services
            </td>
            <td class="border border-gray-300">
              CNC Machining, Customised Flanges
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </article>
</div>