---
{
"title": "Flanges | Surbhi Metals and Alloy",
"description": "Helo",
"prepath": "../",
"page":"Flanges",
"layout":"template/product"
}
---

<div class="px-3 py-5 space-y-4 md:px-16">
  <h1 class="text-4xl text-center nunito font-bold">Flanges</h1>
  <div class="space-y-5">
    <p>Flanges we offer</p>
    <div class="grid md:grid-cols-3 grid-cols-2 gap-3">
      <% let flanges = [
        ["flanges1.jpg","Threaded Flange"],
        ["flanges2.jpg","Weld Neck Flange"],
        ["flanges3.jpg","Slip On Flange"],
        ["flanges4.jpg","Socket Weld Flange"],
        ["flanges5.jpg","Lap Joint Flange"],
        ["flanges6.jpg","Plate Flange"],
      ] %>
      <% flanges.forEach(element => { %>
      <div class="shadow-lg rounded-xl overflow-hidden"><img src="../img/flanges/<%- element[0] %>" alt="" width="400" height="300">
        <p class="text-center"><%- element[1] %></p>
      </div>
      <% }) %>
    </div>
  </div>
</div>