---
{
"title": "Forged Fittings | Surbhi Metals and Alloy",
"description": "Forged Fittings | Surbhi Metals and Alloy",
"prepath": "../",
"page":"Forged Fittings",
"layout":"template/product"
}
---

<div class="px-3 py-5 space-y-4 md:px-16">
  <h1 class="text-4xl text-center nunito font-bold">Forged Fittings</h1>
  <article class="space-y-10">
    <div class="space-y-5">
      <p>Bars we offer</p>
      <div class="grid md:grid-cols-3 grid-cols-2 gap-3">
        <% let forged = [
        ["forged1.jpg","Socket Weld Fittings"],
        ["forged2.jpg","Threaded Pipe Fittings"],
        ["forged3.jpg","Pipe Nipple"],
        ["forged4.jpg","Pipe Outlet Nipple"],
        ["forged5.jpg","Swag Nipple"],
      ] %>
        <% forged.forEach(element => { %>
        <div class="shadow-lg rounded-xl border overflow-hidden">
          <img class="object-fill" src="../img/forged/<%- element[0] %>" alt="" width="400" height="300">
          <p class="text-center"><%- element[1] %></p>
        </div>
        <% }) %>
      </div>
    </div>
    <div class="space-y-3">
      <h2 class="text-xl text-p4">High Pressure Socket Weld Forged Fittings</h2>
      <table class="w-full border rounded">
        <tbody>
          <tr class="bg-p3">
            <td class="font-bold border border-gray-300">Pressure Class</td>
            <td class="border border-gray-300">3000LBS, 6000LBS, 9000LBS</td>
          </tr>
          <tr>
            <td class="font-bold border border-gray-300">Socket Weld Forged Fittings Products</td>
            <td class="border border-gray-300">
              Elbow 90 Degree, Elbow 45 Degree, Tee, Cross, Union, Coupling, Half Coupling, Cap, Boss, Outlet,
              Welding Outlet, Insert
            </td>
          </tr>
          <tr>
            <td class="font-bold border border-gray-300">Dimension Specifications</td>
            <td class="border border-gray-300">
              ASME 16.11, MSS SP-79, 83, 95, 97, BS 3799
            </td>
          </tr>
          <tr>
            <td class="font-bold border border-gray-300">Size</td>
            <td class="border border-gray-300">
              1/8″~4″ (DN6~DN100)
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="space-y-3">
      <h2 class="text-xl text-p4">High Pressure Threaded Pipe Fittings</h2>
      <table class="w-full border rounded">
        <tbody>
          <tr class="bg-p3">
            <td class="font-bold border border-gray-300">Pressure Class</td>
            <td class="border border-gray-300">3000LBS, 6000LBS, 9000LBS</td>
          </tr>
          <tr>
            <td class="font-bold border border-gray-300">Products</td>
            <td class="border border-gray-300">
              Elbow 90 Degree, Elbow 45 Degree, Tee, Cross, Union, Street Elbow, Coupling, Half Coupling,
              Reducing Coupling, Cap, Hex Head Bushing, Hex Head Plug, Square Head Plug, Round Head Plug,
              Bull Plug, Boss, Outlet, Hex Nipple, Swage Nipple
            </td>
          </tr>
          <tr>
            <td class="font-bold border border-gray-300">Dimension Specifications</td>
            <td class="border border-gray-300">
              ASME 16.11, MSS SP-79, 83, 95, 97, BS 3799
            </td>
          </tr>
          <tr>
            <td class="font-bold border border-gray-300">Size</td>
            <td class="border border-gray-300">
              1/8″~4″ (DN6~DN100)
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="space-y-3">
      <h2 class="text-xl text-p4">Pipe Nipples Production Range</h2>
      <table class="w-full border rounded">
        <tbody>
          <tr class="bg-p3">
            <td class="font-bold border border-gray-300">Pipe Nipples – Production Range</td>
            <td class="font-bold border border-gray-300">Size</td>
            <td class="border border-gray-300">Standards</td>
          </tr>
          <tr>
            <td class="font-bold border border-gray-300">Round Nipples</td>
            <td class="font-bold border border-gray-300">1/8″ – 4″</td>
            <td class="border border-gray-300">BS3799</td>
          </tr>
          <tr>
            <td class="font-bold border border-gray-300">Hexagon Nipples</td>
            <td class="font-bold border border-gray-300">1/8″ – 2″</td>
            <td class="border border-gray-300">BS3799</td>
          </tr>
          <tr>
            <td class="font-bold border border-gray-300">Swaged Nipple</td>
            <td class="font-bold border border-gray-300">1/8″ – 2″</td>
            <td class="border border-gray-300">SH/T3419, MSS SP 95-2006</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="space-y-3">
      <h2 class="text-xl text-p4">Carbon, Alloy, Stainless Steel Pipe Outlets – Manufacturing Standards</h2>
      <table class="w-full border rounded">
        <tbody>
          <tr class="bg-p3">
            <td class="font-bold border border-gray-300">ASTM A182 – ASME SA182</td>
            <td class="border border-gray-300">Standard Specification for Wrought Austenitic Stainless Steel Piping
              Fittings</td>
          </tr>
          <tr>
            <td class="font-bold border border-gray-300">ASME B16.11</td>
            <td class="border border-gray-300">Forged Fittings Socket – Welding and Threaded</td>
          </tr>
          <tr>
            <td class="font-bold border border-gray-300">MSS SP-97</td>
            <td class="border border-gray-300">Integrally Reinforced Forged Branch Outlet Fittings – Socket Welding,
              Threaded and Buttwelding Ends</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="space-y-3">
      <h2 class="text-xl text-p4">Swage Nipples Production Range, Specifications – Stainless Steel, Carbon Steel, Alloy Steel Swage Nipples</h2>
      <table class="w-full border rounded">
        <tbody>
          <tr class="bg-p3">
            <td class="font-bold border border-gray-300">Size</td>
            <td class="border border-gray-300">1/8” to 8”, DN8 to DN200</td>
          </tr>
          <tr>
            <td class="font-bold border border-gray-300">Dimensions</td>
            <td class="border border-gray-300">MSS SP-95-2006, BS 3799</td>
          </tr>
          <tr>
            <td class="font-bold border border-gray-300">Raw Materials</td>
            <td class="border border-gray-300">
              A106 Gr. B Seamless Pipes, A105/A105N Bars, A182 304/304L Bars, A182 316/316L Bars, A312 304/304L
              Seamless Pipes, Duplex Seamless Pipes, A312 316/316L Seamless Pipes, A350-LF2, Alloy Steel Seamless
              Pipes/Bars
            </td>
          </tr>
          <tr>
            <td class="font-bold border border-gray-300">Material Specifications</td>
            <td class="border border-gray-300">
              ASTM A105, A350 LF2, ASTM A182 (F304,F304L,F316,F316L,F304H,F316H,F317L,F321,F11,F22,F91)
            </td>
          </tr>
          <tr>
            <td class="font-bold border border-gray-300">Connection Ends</td>
            <td class="border border-gray-300">
              PBE: Plain both ends, BBE: Bevel both ends, TBE: Thread both ends
              <br>
              PSE: Plain small end, BSE: Bevel small end, TSE: Thread small end
              <br>
              PLE: Plain large end, BLE: Bevel large end, TLE: Thread large end
              <br>
              Thickness: Standard, Extra Heavy, Schedule 160, or Double Extra Heavy
            </td>
          </tr>
          <tr>
            <td class="font-bold border border-gray-300">Ends</td>
            <td class="border border-gray-300">Beveled, Square Cut (for socket-weld), NPT/BSPT/BSP Threaded Swages,
              Customer Specification</td>
          </tr>
          <tr>
            <td class="font-bold border border-gray-300">Test Certificates</td>
            <td class="border border-gray-300">
              EN 10204 3.1, Raw Material Certificates Available, Destructive &amp; Non Destructive Testing (NDT)
              Reports from NABL Approved Labs
            </td>
          </tr>
          <tr>
            <td class="font-bold border border-gray-300">Material Finish</td>
            <td class="border border-gray-300">Electro-Galvanized Coating, Black Finish, Blackodising Finish, Sand
              Blasting, or Pickled Finish in case of Stainless Steel Swage Nipples</td>
          </tr>
        </tbody>
      </table>
    </div>
    <p class="text-center">Didn't get the required info <a href="../contact.html" class="text-blue-500">Contact us</a> To to get More info</p>
  </article>
</div>