---
{
"title": "Pipes | Surbhi Metals and Alloy",
"description": "Helo",
"prepath": "../",
"page":"Pipes",
"layout":"template/product"
}
---

<div class="px-3 py-5 space-y-4 md:px-16">
  <h1 class="text-4xl text-center nunito font-bold">Pipes</h1>
  <article class="space-y-10">
    <div class="space-y-5">
      <p>Type of pipes we offer</p>
      <div class="grid md:grid-cols-3 grid-cols-2 gap-3">
        <% let pipes = [
        ["pipes1.jpg","Stainless & Duplex Steel"],
        ["pipes2.jpg","Carbon & Alloy Steel"],
        ["pipes3.jpg","Nickel & Copper Alloy"],
        ["pipes4.jpg","Hastelloy"],
        ["pipes5.jpg","Inconel"],
        ["pipes6.jpg","Incoloy"],
        ["pipes7.jpg","Monel"],
        ["pipes8.jpg","Nironics 50"],
        ["pipes9.jpg","Nironics 60"],
        ["pipes10.jpg","Titanium"],
      ] %>
        <% pipes.forEach(element => { %>
        <div class="shadow-lg rounded-xl overflow-hidden"><img src="../img/pipes/<%- element[0] %>" alt="" width="400" height="300">
          <p class="text-center"><%- element[1] %></p>
        </div>
        <% }) %>
      </div>
    </div>
    <div class="space-y-3">
      <h2 class="font-bold text-xl text-p4">Stainless & Duplex Steel</h2>
      <div class="flex items-start md:flex-row flex-col">
        <p>
          <span class="font-bold">Range:</span> 15 NB UP TO 1200 NB IN SCH 5S , 10S ,10, 20 , 40S , 40 , STD , 60 ,
          80S , 80 , XS , 100 , 120 , 140 , 160 & XXS. <br>
          <span class="font-bold">Form:</span> Seamless / Erw / Welded in Round & Square . <br>
          <span class="font-bold">Stainless Steel :</span> ASTM / ASME SA 312 GR. TP 304 , 304L , 304H, 309S ,309H ,
          310S, 310H , 316 , 316TI , 316H , 316 LN , 317 , 317L , 321 , 321H , 347 , 347 H , 904L .
          ASTM / ASME SA 358 CL 1 & CL 3 GR . 304 , 304L , 304H, 309S ,309H , 310S, 310H , 316 , 316H , 321 , 321H ,
          347 . <br>
          <span class="font-bold">Duplex Steel :</span> ASTM / ASME SA 790 UNS NO S 31803 , S 32205 , S 32550 , S
          32750 , S 32760.
        </p>
      </div>
    </div>
    <div class="space-y-3">
      <h2 class="font-bold text-xl text-p4">Stainless & Duplex Steel</h2>
      <div class="flex items-start md:flex-row flex-col">
        <p>
          <span class="font-bold">Range:</span> 15 NB UP TO 1200 NB IN SCH 5S , 10S ,10, 20 , 40S , 40 , STD , 60 ,
          80S , 80 , XS , 100 , 120 , 140 , 160 & XXS. <br>
          <span class="font-bold">Form:</span> Seamless / Erw / Welded in Round & Square . <br>
          <span class="font-bold">Carbon Steel :</span> ASTM / ASME A 53 GR. A , B ASTM / ASME 106 GR. A , B ,C . API
          5L GR. B , API 5L X 42 , X 46 ,
          X 52 , X 60 , X 70. ASTM / ASME A 691 GRA , B ,C
          <span class="font-bold">Alloy Steel:</span> ASTM / ASME A 335 GRP 1 , P 5 , P 9 , P 11 , P 12 , P 22 , P 23
          , P 91 ASTM / ASME A 691 GRP1 CR , 1 1/4 CR , 2 1/4 CR , 5 CR , 9CR , 91.
        </p>
      </div>
    </div>
    <div class="space-y-3">
      <h2 class="font-bold text-xl text-p4">Nickel & Copper Alloy</h2>
      <div class="flex items-start md:flex-row flex-col">
        <p>
          <span class="font-bold">Range:</span> 15 NB UP TO 1200 NB IN SCH 5S , 10S ,10, 20 , 40S , 40 , STD , 60 ,
          80S , 80 , XS , 100 , 120 , 140 , 160 & XXS. <br>
          <span class="font-bold">Form:</span> Seamless / Erw / Welded in Round & Square . <br>
          <span class="font-bold">Nickel Alloy :</span> ASTM / ASME SB 163 UNS 2200 ( NICKEL 200 )
          ASTM / ASME SB 163 UNS 2201 (NICKEL 201 )
          ASTM / ASME SB 163 / 165 UNS 4400 (MONEL 400 )
          ASTM / ASME SB 464 UNS 8020 ( ALLOY 20 / 20 CB 3 )
          ASTM / ASME SB 704/705 UNS 8825 INCONEL (825)
          ASTM / ASME SB 167 / 517 UNS 6600 (INCONEL 600 )
          ASTM / ASME SB 167 UNS 6601 ( INCONEL 601 )
          ASTM / ASME SB 704 /705 UNS 6625 (INCONEL 625)
          ASTM / ASME SB 619/622/626 UNS 10276 ( HASTELLOY C 276 ) <br>
          <span class="font-bold">Copper Alloy :</span> ASTM / ASME SB 111 UNS NO. C 10100 , 10200 , 10300 , 10800 ,
          12000,12200, 70600 , 71500 . ASTM / ASME SB 466 UNS NO. C 70600 ( CU -NI- 90/10) , C 71500 ( CU -NI- 70/30)
        </p>
      </div>
    </div>
    <div class="space-y-3">
      <h2 class="font-bold text-xl text-p4">Hastelloy</h2>
      <div class="flex items-start md:flex-row flex-col">
        <p>
          <span class="font-bold">Grades:</span> Hastelloy C-22, Hastelloy C-276, Hastelloy C-2000 <br>
          <span class="font-bold">Type:</span>Seamless / Erw / Welded/ Fabricated <br>
          <span class="font-bold">Standerds:</span> Hastelloy Seamless Pipe
          Hastelloy ERW Pipe
          This range is used in :
          Petrochemicals Plants
          Oil Refineries
          Fertilizers Plants
          Sugar Mills
          Chemical Plants
          Pharmaceuticals
          Textile Machinery
        </p>
      </div>
    </div>
    <div class="space-y-3">
      <h2 class="font-bold text-xl text-p4">Inconel</h2>
      <div class="flex items-start md:flex-row flex-col">
        <p>
          <span class="font-bold">Grades:</span> Inconel 600, Inconel 601, Inconel 625, Inconel 625LCF, Inconel 686,
          Inconel 718, Inconel 800, Inconel 825, Inconel X-750 <br>
          <span class="font-bold">Type:</span> Seamless / Erw / Welded in Round & Square . <br>
          <span class="font-bold">Range:</span> 15 NB UP TO 1200 NB IN SCH 5S , 10S ,10, 20 , 40S , 40 , STD , 60 ,
          80S , 80 , XS , 100 , 120 , 140 , 160 & XXS. <br>
          <span class="font-bold">Form:</span> Round, Square, Rectangular, Hydraulic etc. <br>
          <span class="font-bold">Length:</span>Single Random, Double Random & Cut Length <br>
          <span class="font-bold">End:</span> Plain End, Beveled End, Threaded
          This range is used in :
          Petrochemicals Plants
          Oil Refineries
          Fertilizers Plants
          Sugar Mills
          Chemical Plants
          Pharmaceuticals
          Textile Machinery
        </p>
      </div>
    </div>
    <div class="space-y-3">
      <h2 class="font-bold text-xl text-p4">Incoloy</h2>
      <div class="flex items-start md:flex-row flex-col">
        <p>
          <span class="font-bold">Grades:</span> Incoloy 800, incoloy 825, Incoloy 925, Incoloy a-286, Incoloy DS <br>
          <span class="font-bold">Type:</span> Seamless / Erw / Welded/ Fabricated <br>
          <span class="font-bold">Standerd:</span> ASTM B407, ASTM B829, ASTM B514, ASTM B775, ASTM B515, ASTM B751
          <br>
          <span class="font-bold">range :</span>
          Petrochemicals Plants
          Oil Refineries
          Fertilizers Plants
          Sugar Mills
          Chemical Plants
          Pharmaceuticals
          Textile Machinery
        </p>
      </div>
    </div>
    <div class="space-y-3">
      <h2 class="font-bold text-xl text-p4">Monel</h2>
      <div class="flex items-start md:flex-row flex-col">
        <p>
          <span class="font-bold">Grades:</span> Monel 400, Monel k500 <br>
          <span class="font-bold">Type:</span> Seamless / Erw / Welded/ Fabricated <br>
          <span class="font-bold">Form:</span> Round, Square, Rectangular, Hydraulic etc. <br>
          <span class="font-bold">Length:</span> Single Random, Double Random & Cut Length <br>
          <span class="font-bold">End :</span> Plain End, Beveled End, Threaded <br>
          <span class="font-bold">Features :</span>
          Hot Dipped Galvanizing
          Epoxy & Fbe Coating
          Electro Polish
          Draw & Expansion
        </p>
      </div>
    </div>
    <div class="space-y-3">
      <h2 class="font-bold text-xl text-p4">Titanium</h2>
      <div class="flex items-start md:flex-row flex-col">
        <p>
          <span class="font-bold">Grades:</span> Grade 1, Grade 2, Grade 3, Grade 4, Grade 5, Grade 7, Grade 9, Grade 23
          <span class="font-bold">Type:</span> Seamless / Erw / Welded/ Fabricated <br>
          <span class="font-bold">Features :</span> 15 NB UP TO 600 NB IN SCH 5S, 10S, 10, 20, 40S, 40, STD, 60, 80S,
          80, XS,
          100, 120, 140, 160 etc.
          Form Round, square, rectangular, hydraulic etc.
          Length Single Random, Double Ranidom & Cut Length
          End Plain End, Bevelled End, Treaded
        </p>
      </div>
    </div>
    <div class="space-y-3">
      <h2 class="font-bold text-xl text-p4">Tantalum</h2>
      <div class="flex items-start md:flex-row flex-col">
        <p>
          <span class="font-bold">Grades:</span> Grade 1, Grade 2, Grade 3, Grade 4, Grade 5, Grade 7, Grade 9, Grade
          23 <br>
          <span class="font-bold">Range :</span> 15 NB up to 1500 NB in 150 LBS, 300 LBS, 600 LBS, 900 LBS, 1500 LBS,
          2500 LBS available with NACE MR 01-75 <br>
          <span class="font-bold">Standard :</span> ASTM, ASME, API, AISI, BS, ANSI, DIN, JIS, MSSP, NACE <br>
          <span class="font-bold">Type :</span> Socket Weld, Slip On, Blind, Lapped, Screwed, Weld Neck, Long Weld
          Neck, Reducing, Spectacle, Ring Joint <br>
          <span class="font-bold">Features :</span> Dimensional accuracy
          High strength
          Durability
          Corrosion resistance
          Excellent finish
        </p>
      </div>
    </div>
    <p class="text-center">Didn't get the required info <a href="../contact.html" class="text-blue-500">Contact us</a> To to get More info</p>
  </article>
</div>