---
{
"title": "Sheets | Surbhi Metals and Alloy",
"description": "Helo",
"prepath": "../",
"product":"Sheets",
"layout":"template/product"
}
---

<div class="px-3 py-5 space-y-4 md:px-16">
  <h1 class="text-4xl text-center nunito font-bold">Sheets</h1>
  <article class="space-y-10">
    <div class="space-y-3">
      <h2 class='font-bold text-xl text-p4'>Stainless & Duplex Steel</h2>
      <div class="flex md:flex-row flex-col-reverse">
        <div><strong>Range :</strong><br>
          0.1 mm to 100 mm thick upto 2500 mm width & upto 8000 mm length available with NACE MR 01-75s.<br>
          <strong>Stainless Steel :&nbsp;</strong><br>
          ASTM / ASME SA 240 304, 304L, 304H, 309S, 309H, 310S, 310H, 316, 316H, 316L, 316 TI, 317, 317L,
          321, 321H, 347, 347 H, 409, 410, 410S, 430<br>
          <strong>Duplex Steel :</strong><br>
          ASTM / ASME SA 240 UNS NO. S 31803, S 32205, S 32550, S 32750, S 32760.
        </div>
      </div>
    </div>
    <div class="space-y-3">
      <h2 class='font-bold text-xl text-p4'>Carbon & Alloy Steel</h2>
      <div class="flex md:flex-row flex-col-reverse">
        <div><strong>Range :</strong><br>
          3 mm to 100 mm thick in upto 2500 mm width upto 12500 mm length available with NACE MR 01-75s<br>
          <strong>Carbon Steel :</strong><br>
          ASTM / ASME A 516 / 517 GR. 60 / 70, IS 2062, IS 2002<br>
          <strong>Alloy Steel :</strong><br>
          ASTM / ASME A 387 GR F 5, F 9, F 11, F 12, F 22, F 91.
        </div>
        <div></div>
      </div>
    </div>
    <div class="space-y-3">
      <h2 class='font-bold text-xl text-p4'>Nickel & Copper Alloy</h2>
      <div class="flex md:flex-row flex-col-reverse">
        <div>
          <div><strong>Sheet and Plates Range :</strong><br>
            5 mm to 100 mm thick in upto 2500 mm width & upto 6000 length available with NACE MR 01-75s.<br>
            <strong>Nickel Alloy :</strong><br>
            ASTM / ASME SB 162 UNS 2200 ( NICKEL 200 ) / UNS 2201 (NICKEL 201 )<br>
            ASTM / ASME SB 127UNS 4400 (MONEL 400 )<br>
            ASTM / ASME SB 424 UNS 8825 (INCONEL 825)<br>
            ASTM / ASME SB 168UNS 6600 (INCONEL 600 ) / UNS 6601 ( INCONEL 601 )<br>
            ASTM / ASME SB 443 UNS 6625 (INCONEL 625)<br>
            ASTM / ASME SB 574 UNS 10276 ( HASTELLOY C 276 )<br>
            ASTM / ASME SB 462 UNS 8020 ( ALLOY 20 / 20 CB 3 )
          </div>
        </div>
      </div>
    </div>
    <div class="space-y-3">
      <h2 class='font-bold text-xl text-p4'>Hastelloy</h2>
      <div>
        <div class="flex md:flex-row flex-col-reverse">
          <div><strong>Sheet and Plates Grades :</strong>&nbsp;Hastelloy C-22, Hastelloy C-276, Hastelloy C-2000<br>
            <strong>Form:</strong><br>
            Hastelloy Sheet<br>
            Hastelloy Coil<br>
            Hastelloy Strips<br>
            Hastelloy Plates<br>
            Hastelloy Circle<br>
            Hastelloy Ring
          </div>
          <div></div>
        </div>
      </div>
    </div>
    <div class="space-y-3">
      <h2 class='font-bold text-xl text-p4'>Inconel Sheet and Plates</h2>
      <div class="flex md:flex-row flex-col-reverse">
        <div>
          <div><strong>Grades :</strong><br>
            Inconel 600, Inconel 601, Inconel 625, Inconel 625LCF, Inconel 686, Inconel 718, Inconel 800, Inconel
            825, Inconel X-750<br>
            <strong>Standard :</strong>&nbsp;ASTM / ASME SB 168, ASTM / ASME SB 424, ASTM / ASME SB 443
          </div>
          <div></div>
        </div>
      </div>
    </div>
    <div class="space-y-3">
      <h2 class='font-bold text-xl text-p4'>Incoloy</h2>
      <div class="flex md:flex-row flex-col-reverse">
        <div class="flex-1">
          <div><strong>Sheet and Plates Grades :</strong>&nbsp;Incoloy 800, incoloy 825, Incoloy 925, Incoloy a-286,
            Incoloy DS<br>
            Standard : ASTM B407, ASTM B829, ASTM B514, ASTM B775, ASTM B515, ASTM B751<br>
            <strong>Incoloy Sheets, PlatesThis range is used in :</strong><br>
            Petrochemicals Plants<br>
            Oil Refineries<br>
            Fertilizers Plants<br>
            Sugar Mills<br>
            Chemical Plants<br>
            Pharmaceuticals<br>
            Textile Machinery
          </div>
          <div></div>
        </div>
      </div>
    </div>
    <div class="space-y-3">
      <h2 class='font-bold text-xl text-p4'>Monel</h2>
      <div class="flex md:flex-row flex-col-reverse">
        <div>
          <div><strong>Sheet and Plates Grades :</strong>&nbsp;Monel 400, Monel k500<br>
            <strong>Form:</strong>&nbsp;Round, Square, Rectangular, Hydraulic etc.<br>
            <strong>Length:</strong>&nbsp;Single Random, Double Random & Cut Length<br>
            <strong>End:</strong><br>
            Plain End, Beveled End, Threaded<br>
            <strong>The salient features are as follows :</strong><br>
            Hot Dipped Galvanizin Epoxy & Fbe Coating Electro Polish Draw & Expansion
          </div>
          <div></div>
        </div>
      </div>
    </div>
    <div class="space-y-3">
      <h2 class='font-bold text-xl text-p4'>Titanium</h2>
      <div class="flex md:flex-row flex-col-reverse">
        <div class="flex-1">
          <div><strong>Sheet and Plates Specifications :</strong><br>
            1)hot and coll rolled, Gr1~Gr23<br>
            2)Thickness:0.3mm – 60mm<br>
            3)Length:6000mm<br>
            4)ASTM B265,ASTM 4911,F67,F136<br>
            <strong>Material :</strong>titanium and titanium alloys<br>
            <strong>Pure Titanium Grade :</strong>&nbsp;GR1, GR2, GR3, GR4<br>
            <strong>Titanium Alloy Grade :</strong>&nbsp;GR5 (6% Al, 4%V)<br>
            GR6 (5% AL, 2.5%Sn)<br>
            Gr.7 (Titanium + Pd)<br>
            Gr.9 (3% Al, 2.5%V)<br>
            Gr.10 (11.5%Mo, 6% Zr, 4.5% Sn)<br>
            Gr.11 (Titanium + Pd)<br>
            Gr.12 (0.3% Mo, 0.8% Ni)
          </div>
          <div></div>
        </div>
      </div>
    </div>
    <div class="space-y-3">
      <h2 class='font-bold text-xl text-p4'>Tantalum</h2>
      <div class="flex md:flex-row flex-col-reverse">
        <div>
          <strong>Specifications :</strong>&nbsp;tantalum sheet, tantalum plate, tantalum foil<br>
          <strong>Grade:</strong>&nbsp;RO5200, Ro5400,RO5252,RO5255<br>
          <strong>Standard :</strong>ASTM B708-98<br>
          <strong>Size:</strong>T0.1-10.0mm<br>
          We are factory specializing in the manufacture and export Tantalum and Niobium prodcut for more than ten
          years,Including foil tube,rod,wire,sheet,plate,,rod,strip,target and so on We can supply the best quallity
          and low price. Tantalum sheets, Tantalum- tungsten alloy sheets(Ta2.5W, Ta10W)<br>
          <strong strong>Purity :</strong>&nbsp;99.95%min or 99.99%min conformity with ASTM B 708 98<br>
          <strong>Size:</strong>
        </div>
      </div>
    </div>
  </article>
</div>