---
{
"title": "Abut Us | Surbhi Metals and Alloy",
"description":
"Surbhi Metal and Alloys having it's registered office in Mumbai, is a leading player in
manufacturing,supplying and
trading of various ferrous and non-ferrous metals applicable in many core industries",
"prepath": "",
}
---

<div class="container mx-auto px-3 py-5 space-y-4 md:px-16">
  <div class="space-y-8">
    <h2 data-scroll class="text-4xl text-center font-bold">About Us</h2>
    <article class="space-y-8">
      <div class="grid w-full md:grid-cols-3 grid-cols-1 gap-8">
        <div data-scroll="in" class="rounded bg-p2 p-4">
          <img class="rounded-full p-2 mx-auto bg-p1 w-24 transform hover:scale-110 transition duration-200" src="img/vector/vision.svg">
          <p class="py-2 text-center font-bold">
            Vision
          </p>
          <p>
            Create, Innovate and Contribute in the development of entire world by adopting a
            sustainable approach in all our processes.
          </p>
        </div>
        <div data-scroll="in" class="rounded bg-p2 p-4">
          <img class="rounded-full p-2 mx-auto bg-p1 w-24 transform hover:scale-110 transition duration-200" src="img/vector/mission.svg">
          <p class="py-2 text-center font-bold">
            Mission
          </p>
          <p>
            To become one of the most trusted manufacturers and exporters of ferrous and non ferrous
            metals in the world.
          </p>
        </div>
        <div data-scroll="in" class="rounded bg-p2 p-4">
          <img class="rounded-full p-2 mx-auto bg-p1 w-24 transform hover:scale-110 transition duration-200" src="img/vector/structure.svg">
          <p class="py-2 text-center font-bold">
            Infrastructure
          </p>
          <p>
            We possess a technically advanced infrastructure that enable us to work towards our
            objectives effectively.
          </p>
        </div>
        <div data-scroll="in" class="rounded bg-p2 p-4">
          <img class="rounded-full p-2 mx-auto bg-p1 w-24 transform hover:scale-110 transition duration-200" src="img/vector/united.svg">
          <p class="py-2 text-center font-bold">
            Work Culture
          </p>
          <p>
            We work together as a team in a friendly supportive environment with a common aim to
            deliver best among the best
          </p>
        </div>
        <div data-scroll="in" class="rounded bg-p2 p-4">
          <img class="rounded-full p-2 mx-auto bg-p1 w-24 transform hover:scale-110 transition duration-200" src="img/vector/medal.svg">
          <p class="py-2 text-center font-bold">
            Quality Assurance
          </p>
          <p>
            No compromise with the quality is our top priority
          </p>
        </div>
        <div data-scroll="in" class="rounded bg-p2 p-4">
          <img class="rounded-full p-2 mx-auto bg-p1 w-24 transform hover:scale-110 transition duration-200" src="img/vector/sustainable.svg">
          <p class="py-2 text-center font-bold">
            Sustainable Approach
          </p>
          <p>
            Maintaining sustainable approach in all our processes is a primary objective at Repute
            Steel and Engineering Co.
          </p>
        </div>
      </div>
      <p class="text-justify">
        Welcome to Surbhi Metal and Alloys - A perfect solution for all your metal
        requirements. Surbhi Metal and Alloys having it's registered office in
        Mumbai. Surbhi Metal and Alloys is a team of experienced industry experts
        who deal in manufacturing, supplying and trading of ferrous and non
        ferrous metals.
        <br />
        <br />
        We manufacture and supply a variety of ferrous and non ferrous metals such
        as iron, stainless steel, aluminium, copper, brass, etc.
        <br />
        <br />
        We manufacture and trade various products such as pipes, sheets, bars,
        flanges, fasteners, valves, fitting items and many other products
        applicable in various core sectors.
        <br />
        <br />
        Our products have application in various industries such as Oil and Gas,
        Marine, Automobiles, Construction, Textiles, Telecom, Food Processing and
        many other industries. We serve all over India in various prominent
        companies and are proud to have a strong client base.
        <br />
        <br />
        We believe in building trustful relationships with our clients by
        providing them with best quality material at a very reasonable rate.
        <br />
        Quality is our prime focus and we never compromise with it under any
        circumstance .We duly consider all the chemical compositions and strictly
        follow international standards for providing quality products. With an
        advanced set of machineries and a qualified team of experts we are able to
        cater to a varied demand in the industry.
        <br />
        <br />
        We provide necessary lab tested quality reports and certificates for
        quality assurance.Third Party inspection from prominent agencies can be
        done if needed.Proper care of material is taken while transporting in
        order to avoid damages.Our efficient supply chain enable us to deliver
        products within a short. period.We strictly follow Environment Protection
        guidelines and try to implement a sustainable approach wherever possible.
        Surbhi Metal and Alloys is growing rapidly in the Indian market and aim
        towards it's global reach soon.
      </p>
    </article>
  </div>
</div>