---
{
"title" : "Abut Us | Surbhi Metals and Alloy",
"description" : "Surbhi Metal and Alloys having it's registered office in Mumbai, is a leading player in
manufacturing,supplying and
trading of various ferrous and non-ferrous metals applicable in many core industries",
}
---

<div class="container mx-auto px-3 py-5 space-y-4 md:px-16">
  <div class="space-y-8">
    <h2 class="text-4xl text-center font-bold">About Us</h2>
    <p class="text-justify">
      Welcome to Surbhi Metal and Alloys - A perfect solution for all your metal
      requirements. Surbhi Metal and Alloys having it's registered office in
      Mumbai. Surbhi Metal and Alloys is a team of experienced industry experts
      who deal in manufacturing, supplying and trading of ferrous and non
      ferrous metals.
      <br />
      <br />
      We manufacture and supply a variety of ferrous and non ferrous metals such
      as iron, stainless steel, aluminium, copper, brass, etc.
      <br />
      <br />
      We manufacture and trade various products such as pipes, sheets, bars,
      flanges, fasteners, valves, fitting items and many other products
      applicable in various core sectors.
      <br><br>
      Our products have application in various industries such as Oil and
      Gas, Marine, Automobiles, Construction, Textiles, Telecom, Food Processing and many other industries.
      We serve all over India in various prominent companies and are proud to have a strong client base.
      <br><br>
      We believe in building trustful relationships with our clients by providing them with best quality material at a
      very reasonable rate.
      <br>
      Quality is our prime focus and we never compromise with it under any circumstance .We duly consider all the
      chemical compositions and strictly follow international standards for providing quality products.
      With an advanced set of machineries and a qualified team of experts we are able to cater to a varied demand in the
      industry.
      <br><br>
      We provide necessary lab tested quality reports and certificates for quality assurance.Third Party inspection from
      prominent agencies can be done if needed.Proper care of material is taken while transporting in order to avoid
      damages.Our efficient supply chain enable us to deliver products within a short. period.We strictly follow
      Environment Protection guidelines and try to implement a sustainable approach wherever possible.
      Surbhi Metal and Alloys is growing rapidly in the Indian market and aim towards it's global reach soon.
    </p>
  </div>
</div>