---
{
"title" : "Contat - Surbhi Metals and Alloy",
"description" : "contact-us | reach us | Surbhi Metals and Alloy, products",
"prepath": "",
"page":"Contact Us",
}
---

<div class="container mx-auto px-3 py-5 space-y-4">
  <div class="space-y-8">
    <h2 class="text-4xl text-center font-bold">Contact Us</h2>
    <div class="bg-p4 rounded">
      <div class="space-y-4 p-4 lg:flex lg:flex-row lg:space-y-0 lg:space-x-4">
        <div class="lg:flex-1">
          <div class="bg-p4 px-4 py-6 rounded">
            <p class="text-2xl font-bold text-p1">Send Your Enquiry</p>
            <div class="bg-white mt-4 rounded">
              <input id="name" placeholder="Your Name" type="text" class="w-full py-2 px-4 bg-white rounded outline-none text-xl">
            </div>
            <div class="bg-white mt-6 rounded">
              <input id="email" placeholder="Your Email" type="text" class="w-full py-2 px-4 bg-white rounded outline-none text-xl">
            </div>
            <div class="bg-white mt-6 rounded">
              <input id="phone" placeholder="Phone" type="text" class="w-full py-2 px-4 bg-white rounded outline-none text-xl">
            </div>
            <div class="bg-white mt-6 rounded">
              <textarea id="message" placeholder="Your Message..." rows="4" class="w-full py-2 px-4 bg-white rounded outline-none text-xl"></textarea>
            </div>
            <div class="bg-white mt-6 rounded">
              <button onclick="sendmail()" class="w-full py-2 px-4 bg-p2 text-black bg-opacity-90 rounded outline-none text-xl">Send<button>
            </div>
            <p id="message" class="text-p1 text-center mt-5">
              <p>
          </div>
        </div>
        <div class="lg:flex-1">
          <iframe class="w-full bg-white rounded overflow-hidden h-60 md:h-full" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5336.464642777068!2d72.82740409044051!3d18.955708853925632!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xe8c31d0ae88db519!2sSurbhi%20Metal%20%26%20Alloys!5e0!3m2!1sen!2sin!4v1613632236190!5m2!1sen!2sin"></iframe>
        </div>
      </div>
      <div class="overflow-hidden p-4 space-y-4 sm:space-y-0 sm:space-x-10 sm:flex sm:flex-row">
        <div class="flex-1 bg-white rounded">
          <div class="bg-p4 text-p1 bg-opacity-75 rounded">
            <p class="text-xl text-center rounded-b">Office Address</p>
          </div>
          <div class="p-4">
            <address>No. 17, 94/100 Jamnadas Building, Bhandari street, 1th Kumbharwada, Mumbai - 400004</address>
          </div>
        </div>
        <div class="flex-1 bg-white rounded-lg">
          <div class="bg-p4 text-p1 bg-opacity-75 rounded">
            <p class="text-xl text-center rounded-b">Contact Details</p>
          </div>
          <div class="p-4">
            <address>
              <i class="fas fa-phone-alt"></i> +91 22 6654 1007<br>
              <i class=" fas fa-mobile-alt"></i> +91 9819211601 (Mr. Champalal Mali)<br>
              <i class="far fa-envelope-open"></i> surbhimetalalloys@gmail.com<br>
            </address>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>